@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
}

body {
  color: #111827;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 64rem;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.header > .logo > img {
  height: 32px;
}

@media (max-width: 640px) {
  header > .logo {
    overflow: hidden;
    width: 32px;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.hero {
  margin: 0 auto;
  max-width: 54rem;
  opacity: 1;
  text-align: center;
  transition: opacity ease-in 500ms;
}

.hero.loading {
  opacity: 0;
}

.hero .logo {
  margin-bottom: 2rem;
  width: 5rem;
}

.hero h1 {
  font-size: 3.75rem;
  line-height: 1;
}

.hero .subtitle {
  color: #6B7280;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 1.5rem auto;
  max-width: 32rem;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero .subtitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.cta {
  background-color: #4F46E5;
  border-radius: 0.375rem;
  color: #fff;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

.cta:hover {
  background-color: #4338CA;
}

.persona-selector {
  color: #6B7280;
  display: flex;
  position: relative;
}

.persona-selector select {
  appearance: none;
  border-radius: .375rem;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
  height: 2.25rem;
  line-height: 1.25rem;
  padding: 0 2rem 0 .875rem;
}

.persona-selector .icon-arrow {
  height: 100%;
  position: absolute;
  right: .875rem;
}
